body{
 
  font-family: sans-serif;
 
}
.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:#ffffff;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
}
.box h1{
  color: #58baed;
  
  font-weight: 500;
}
.box span{
  color:#b62c2c;
  font-weight: 300;

}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: #dfdfdf;
  display: block;
  margin: 20px auto;
  text-align: center;
 
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: rgb(26, 25, 25);
  border-radius: 5px;
  
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 300px;
  border-color:#58baed;
}
.box input[type = "button"]{
 font-size: 17px;
  width:150px;
  background:  #58baed;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #58baed;
  padding: 12px 40px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  
  cursor: pointer;
}
.box input[type = "button"]:hover{
  background: #58baed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:30px;
  text-align: center;
}

th,td {
  border: 1px solid black;
  padding: 10px;
  width:250px;
  

}
th{
  background-color:#58baed;
  color:white;
}
#data {
  margin-bottom: 20px;
}

#data input, button {
  padding: 10px;
  width: 190px;
  text-align: center;
  
}

#insert{
  float:right;
  width:100px;
  height: 40px;
  
  margin-top:8px;
  padding:10px;
  border:1px solid #58baed;
  text-align: center;
  text-decoration: none !important;
  color:white;
  background-color: #58baed;
}
#insert:hover{
  width:130px;
  color:#58baed;
  background-color: #ffffff;
}
.bg-primary{
  background-color: #58baed !important;
  color:white;
  font-family: 'Courier New', Courier, monospace;
 text-align: center;
}
.btn-outline-primary {
  color: #58baed !important;
  border-color: #58baed !important;
}
.btn-outline-primary:hover {
  color: #f5f7f8 !important;
  border-color: #58baed !important;
  background-color: #58baed !important;
}


